{% extends 'base.html.twig' %}

<h1>{{ header }}</h1>
<p>
    Current Workflow : {{ currentWorkflow }}
</p>
<p>
    Current Place : {{ currentPlace }}
</p>
<p>
    {{ dump(transitions) }}
</p>
{% for transition in workflow_transitions(pr) %}